// Variables

// Colors

$color-pink-1: #EC1846;
$color-pink-2: #FF7E8F;

$color-blue-1: #0A55C4;
$color-blue-2: #5D81F8;
$color-blue-3: #002E93;

$color-gray-1: #000000;
$color-gray-2: #222222;
$color-gray-3: #444444;
$color-gray-4: #666666;
$color-gray-5: #888888;
$color-gray-6: #A4A4A4;
$color-gray-7: #DCDCDC;
$color-gray-8: #F3F3F3;

$color-alert-1: #A50000;
$color-alert-2: #EA6E1B;
$color-alert-3: #FDD13A;
$color-alert-4: #2BB24C;

$color-primary: $color-pink-1;
$color-secondary: $color-pink-2;

// Fonts

$font-primary: "Ubuntu", sans-serif;