// Variables

// Colors

$colors: (
  'pink-1': #EC1846,
  'pink-2': lighten(#EC1846, 20%),
  'pink-3': lighten(#EC1846, 35%),
  'blue-1': #002E93,
  'blue-2': lighten(#002E93, 20%),
  'blue-3': lighten(#002E93, 35%),
  'gray-1': #000000,
  'gray-2': #222222,
  'gray-3': #444444,
  'gray-4': #666666,
  'gray-5': #888888,
  'gray-6': #A4A4A4,
  'gray-7': #DCDCDC,
  'gray-8': #F3F3F3,
  'alert-1': #A50000,
  'alert-2': #EA6E1B,
  'alert-3': #FDD13A,
  'alert-4': #2BB24C
);

// Enabled colors for buttons

$buttonColors: (
  'pink-1',
  'pink-2',
  'blue-1',
  'blue-2',
);

// Fonts

$font-primary: "Ubuntu", sans-serif;