// General app layout stuff

.container {
  max-width: breakpoint('xl');
  margin-left: auto;
  margin-right: auto;
  padding-right: spacing(1);
  padding-left: spacing(1);

  @include respond-to('sm') {
    width: calc(#{breakpoint('sm')} - #{spacing(2)});
  }

  @include respond-to('md') {
    width: calc(#{breakpoint('md')} - #{spacing(2)});
  }

  @include respond-to('lg') {
    width: calc(#{breakpoint('lg')} - #{spacing(2)});
  }
}