form {
  overflow: auto;

  .input-group {

    display: inline-block;
    width: 100%;

    label, &__label {
      font-size: 16px;
      font-weight: 600;
      margin-bottom: spacing(0.5);
      display: inline-block;

      .optional {
        font-weight: 400;
        color: color('pink-1')
      }
    }

    &__counter {
      font-size: 12px;
      text-align: right;
      color: color('gray-6');
      margin-top: spacing(0.667);
    }

    &__note {
      color: color('gray-4');
      font-size: 14px;
      margin-bottom: spacing();
      line-height: 21px;
    }

    &__alert {
      margin-top: spacing(0.5);
      font: normal 12px/18px Ubuntu;
      float: left;
      color: color('gray-6');
      display: flex;
      align-items: center;

      &--visible {
        display: inline-block;
      }

      &--hidden {
        display: none;
      }

      &--success {
        color: color('alert-1');

        span {
          color: color('alert-1')
        }
      }

      &--info {
        color: color('blue-3');

        span {
          color: color('blue-3')
        }
      }

      &--danger {
        color: color('alert-3');

        span {
          color: color('alert-3')
        }
      }

      &--error {
        color: color('alert-4');

        span {
          color: color('alert-4')
        }
      }

      span {
        font-size: 16px;
        margin-right: 8px;
      }
    }
  }

  ul.radio-options {
    li {
      background: color('gray-9');
      display: flex;
      justify-content: left;
      padding: spacing();
      border-radius: 5px;
      border: 2px solid transparent;
      text-align: left;
      margin-bottom: spacing(0.5);

      &:hover {
        border: 2px solid color('blue-1');
      }

      label {
        font-size: 20px;
        line-height: 20px;
        margin: 0;
        width: 100%;
      }
    }

    li, label, input {
      &:hover {
        cursor: pointer;
      }
    }
  }

  hr {
    border: 1px solid color('gray-9');
  }

  label {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: spacing(0.5);
    display: inline-block;

    .optional {
      font-weight: 400;
      color: color('pink-1')
    }
  }

  input[type=text], input[type=password], input[type=email], textarea, select {
    background-color: color('gray-9');
    font-size: 14px;
    padding: spacing();
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-bottom: 1px solid color('blue-1');
    color: color('gray-3');
    line-height: 20px;
    width: 100%;
    border-radius: 5px 5px 0 0;
    font-family: inherit;
    font-weight: 300;

    &:disabled {
      opacity: 0.3;
    }

    &:focus:invalid {
      border-bottom: 1px solid color('alert-4');
    }
  }

  textarea {
    resize: none;
  }

  select {
    border-top: 2px solid transparent;
    border-right: 2px solid transparent;
    border-left: 2px solid transparent;
    padding-bottom: 15px;

    option {
      color: color('gray-4');
      padding: spacing();
    }

    &:hover:not(:disabled) {
      cursor: pointer;
      border: 2px solid #002E93;
      padding-bottom: 1em;
    }
  }

  // Check box
  .checkbox, .radio {
    position: relative;
    padding-left: 36px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-weight: normal !important;

    // Hide the browser's default checkbox
    input {
      position: absolute;
      display: none;
      cursor: pointer;
      height: 0;
      width: 0;
    }

    // Create a custom checkbox with default styles for radio button and checkbox
    .checkbox__checkmark, .radio__checkmark {
      position: absolute;
      top: 0;
      left: 0;
      height: 20px;
      width: 20px;
      background-color: color('white');
      border: 1px solid color('gray-6');

      // Create the checkmark/indicator (hidden when not checked)
      &:after {
        content: "";
        position: absolute;
        display: none;
      }
    }

    // Styles for custom checkbox 
    .checkbox__checkmark {
      border-radius: 5px;
    }

    // Style for custom radio button
    .radio__checkmark {
      border-radius: 50%;
    }

    // When the checkbox
    input:checked {
      // Add a blue background for checkbox
      ~ .checkbox__checkmark {
        background-color: color('blue-1');
        border-width: 0px;
      }

      // Show the checkmark when checked
      ~ .checkbox__checkmark:after, ~ .radio__checkmark:after {
        display: block;
      }
    }

    // Style the checkmark/indicator for checkbox
    .checkbox__checkmark:after {
      left: 7px;
      top: 4px;
      width: 3px;
      height: 8px;
      border: solid white;
      border-width: 0 3px 3px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }

    // Style the checkmark/indicator for radio button
    .radio__checkmark:after {
      left: 3px;
      top: 3px;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background: color('blue-1');
    }
  }

  // Checkbox toggle
  .toggle {
    position: relative;
    display: inline-block;
    width: 32px;
    height: 16px;

    input {
      opacity: 0;
      width: 0;
      height: 0;
    }

    .toggle__slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: color('gray-7');
      -webkit-transition: .4s;
      transition: .4s;
      border-radius: 34px;

      .toggle__slider__label {
        margin-left: 43px;
      }

      &:before {
        position: absolute;
        content: "";
        height: 12px;
        width: 12px;
        left: 3px;
        bottom: 2px;
        background-color: color('white');
        -webkit-transition: .4s;
        transition: .4s;
        border-radius: 50%;
      }
    }

    input:checked + .toggle__slider {
      background-color: color('alert-1');
    }

    input:focus + .toggle__slider {
      box-shadow: 0 0 1px color('alert-1');
    }

    // When the checkbox is check, change the slider
    input:checked + .toggle__slider:before {
      -webkit-transform: translateX(14px);
      -ms-transform: translateX(14px);
      transform: translateX(14px);
    }
  }
}

// MOBILE
@media (max-width: breakpoint('sm')) {
  form {
    overflow: auto;
  
    .input-group {
      &__note {
        font-size: 12px;
        line-height: 18px;
      }

      &__counter {
        font: normal 12px/18px Ubuntu;
        margin-top: 0.5em;
      }
    }
  }
}
