.search-bar {
  justify-content: space-between;
  display: flex;
  margin-bottom: 24px;

  &__input-icon {
    position: absolute;
    padding: 6px 12px;
    color: #dcdcdc;
    font-size: 20px;
  }

  &__input {
    border: 1px solid #dcdcdc;
    border-radius: 5px;
    padding: 8px 16px 8px 44px;
    font-size: 12px;
    display: flex;

    &::placeholder {
      color: #dcdcdc;
      font-size: 12px;
    }
  }

  &__download {
    align-items: center;
    display: flex;
    font-size: 12px;
    color: #ec1846;
    font-weight: bold;

    i {
      color: #ec1846;
      font-size: 12px;
    }
  }
}

table {
  border-collapse: separate;
  border-spacing: 0;

  tr {
    background-color: color('gray-8');

    &:nth-child(odd) {
      background-color: color('gray-9');
    }

    th,
    td {
      padding: spacing(1.25) spacing();
      font-size: 16px;
      color: color('gray-6');
      vertical-align: center;
    }

    th {
      font-weight: 600;
      color: color('gray-1');
      background-color: color('gray-7');
      border: 0;
    }

    td {
      div.status {
        display: flex;
        align-items: center;
        color: inherit;
        div.status__indicator {
          float: left;
          width: 14px;
          height: 14px;
          border-radius: 10px;
          background-color: color('gray-9');
          margin-right: spacing(0.5);

          &--active {
            background-color: color('alert-1');
          }
          &--inactive {
            background-color: color('alert-4');
          }
        }
      }
    }
  }
}
