.alert {    
    border-radius: 5px;
    padding: spacing(1.5);
    text-align: left;
    //font-family: "Ubuntu, regular";

    &--status-success {
        color: color('gray-2');
        background-color: rgba(color('alert-1'), 0.3);
    }

    &--status-warning {
        color: color('gray-2');
        background-color: rgba(color('alert-2'), 0.4);

        &-2 {
            color: color('white');
            background-color: color('alert-3');
        }
    }

    &--status-error {
        color: color('alert-4');
        background-color: #FFDEE5;
    }

    &--dismissible {
        &__close {
            font-size: 14px;
            display: flex;
            margin-top: spacing(1.1);
            color: color('gray-1');
            cursor: pointer;
            font-weight: bold;
        }
    }   
}