.alert {
  /** ALL ALERTS */
  border-radius: 5px;
  padding: spacing(1.5);
  text-align: left;
  font: normal 14px/21px Ubuntu;

  /** STATUS ALERTS */
  &--status-success {
    color: color("gray-2");
    background-color: rgba(color("alert-1"), 0.3);
  }

  &--status-warning {
    color: color("gray-2");
    background-color: rgba(color("alert-2"), 0.4);

    &-2 {
      color: color("white");
      background-color: color("alert-3");
    }
  }

  &--status-error {
    color: color("alert-4");
    background-color: #ffdee5;
  }

  /** ALERT STATUS DISMISS BUTTON */
  &__close {
    font: 500 12px/13px Ubuntu;
    display: table;
    margin-top: spacing(1);
    color: color("gray-1");
    cursor: pointer;
  }

  /** MESSAGE ALERTS */
  &--message {
    background: color("blue-1");
    color: color("white");
    position: relative;

    /** ARROW */
    &::before {
      content: " ";
      position: absolute;
      right: 8px;
      top: -15px;
      border-top: none;
      border-right: 17.5px solid transparent;
      border-left: 17.5px solid transparent;
      border-bottom: 20px solid color("blue-1");
    }

    /** DISMISS BUTTON */
    > .alert__close {
      @extend .alert__close;
      color: color("white");
      border: 2px solid color("white");
      padding: spacing(0.63) spacing(1);
      border-radius: 5px;

      &:hover {
        background-color: color("white");
        color: color("blue-1");
      }
    }
  }
}
