/** ALL CARDS */
.card {
  max-width: 480px;

  &--with-shadow {
    box-shadow: 0 1px 6px color('gray-5');
  }

  &--without-radius {
    * {
      border-radius: 0 !important;
    }
  }

  &__header {
    background: color("gray-8") 0 0 no-repeat padding-box;
    border-radius: 5px 5px 0 0;
    padding: spacing(1) spacing(1.5);
    color: color("gray-1");
  }

  &__body {
    background: color("gray-9") 0 0 no-repeat padding-box;
    border-radius: 0 0 5px 5px;
    padding: spacing(1.5);
  }
}
