/** ALL CARDS */
.card {
  max-width: 480px;
  border-radius: 5px;

  &--with-shadow {
    box-shadow: 0 1px 6px color('gray-5');
  }

  &--without-radius {
    * {
      border-radius: 0 !important;
    }
  }

  &__header {
    background: color("gray-8") 0 0 no-repeat padding-box;
    border-radius: 5px 5px 0 0;
    padding: spacing(1) spacing(1.5);
    color: color("gray-1");
  }

  &__body {
    background: color("gray-9") 0 0 no-repeat padding-box;
    border-radius: 0 0 5px 5px;
    padding: spacing(1.5);

    span.or {
      display: flex;
      align-items: center;

      &:before {
        margin-right: spacing(0.5);
      }

      &:after {
        margin-left: spacing(0.5);
      }

      &:before, &:after {
        content: '';
        border-bottom: 1px solid color('gray-8');
        width: 50%;
        display: block;
      }
    }
  }
}
