.collapse {
    .collapse__action {
        cursor: pointer;

        &.is-expanded {
            i {
                transform: rotate(180deg) scaleX(-1);
            }
        }
    }

    .collapse__content {
        display: none;

        &.is-expanded {
            display: flex;
            flex-direction: column;
        }
    }
}