.pagination {
  ul {
    display: inline-flex;

    li {
      padding: 0px 3px;

      &:first-child, &:last-child {
        a {
          padding: 0 5px;

          svg {
            width: 5px;
            height: 24px;

            polyline {
              fill: none;
              stroke-linecap: round;
              stroke-linejoin: round;
            }
          }
        }
      }

      &:first-child {
        a {
          svg {
            polyline {
              stroke: rgba(color("pink-1"), 0.4);
              stroke-width: 10px;
            }
          }
        }
      }

      &:last-child {
        a {
          svg {
            polyline {
              stroke: color("pink-1");
              stroke-width: 15px;
            }
          }
        }
      }

      a {
        display: inline-block;
        padding: 0px 10px;
        text-decoration: none;
        font: normal 12px/27px Ubuntu;
      }

      &.pagination__item {
        &--active {
          a {
            color: color("gray-1");
            background: color("gray-8");
            border-radius: 5px;
            font-weight: 500;
          }
        }
      }
    }
  }
}
