.pagination {
    display: inline-block;

    a:first-child, a:last-child{
        padding: 8px 12px;

        i{
            width: 9px;
            height: 8px;
            content: '';
        }   
    }
    
    a:first-child{
        i{
            transform: matrix(0, -1, -1, 0, 8, 0);
        }   
    }

    a:last-child{
        i{
            transform: matrix(0, -1, 1, 0, 0, 0);
        }   
    }

    a {
        color: color('gray-3');
        display: inline-table;
        padding: 5px 8px;
        text-decoration: none;
        font-size: 12px;

        :hover{
            text-decoration: none;
        }
    }

    &__item {
        &--active {
            color: color('gray-1');
            background: color("gray-8");
            border-radius: 5px;
            font-weight: 500;
        }
    }
}