// Default behaviors

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  &:focus {
    outline: none;
  }

  &:not(font) {
    color: color('gray-3');
  }
}

ul {
  list-style: none;
}

::selection {
  background: color('pink-1');
  color: white;
}

body {
  -webkit-font-smoothing: antialiased;
  font-family: $font-primary;
  overflow: auto;
}
