// Default behaviors

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  &:focus {
    outline: none;
  }
}

::selection {
  background: $color-primary;
  color: $color-secondary;
}

body {
  -webkit-font-smoothing: antialiased;
  font-family: $font-primary;
  overflow: auto;
}