// Typography

h1 {
  line-height: 48px;
  font-size: 32px;
  font-weight: 300;
}

h2 {
  line-height: 34px;
  font-size: 24px;
  font-weight: 700;
}

h3 {
  line-height: 30px;
  font-size: 20px;
  font-weight: 500;
}

h4 {
  line-height: 30px;
  font-size: 20px;
  font-weight: 300;
}

h5 {
  line-height: 27px;
  font-size: 18px;
  font-weight: 700;
}

h6 {
  line-height: 24px;
  font-size: 16px;
  font-weight: 400;
}

// Bottom line

.line {
  display: inline-flex;
  background: linear-gradient(color('pink-1'),color('pink-1')) bottom no-repeat;
  background-size: 35% 3px;
  background-position: left bottom;

  @each $colorName in $colorNames {
    &--#{$colorName} {
        @extend .line;
        background-image: linear-gradient(color(#{$colorName}), color(#{$colorName}));
    }
  }
}

// Text

.text-body-1 {
  @extend %text-body-1;
}

.text-body-2 {
  @extend %text-body-2;
}

.text-body-3 {
  @extend %text-body-3;
}

// MOBILE

@media (max-width: breakpoint('sm')) {

  // Typography

  h1 {
    line-height: 42px;
    font-size: 32px;
  }
  
  h4 {
    line-height: 27px;
    font-size: 18px;
  }
  
  h5 {
    line-height: 24px;
    font-size: 16px;
  }
  
  h6 {
    line-height: 21px;
    font-size: 14px;
  }
  
  // Text

  .text-body-1 {
    line-height: 21px;
    font-size: 14px;
  }

  .text-body-2 {
    line-height: 18px;
    font-size: 12px;
  }

  .text-body-3 {
    line-height: 18px;
    font-size: 12px;
  }
}