@import url("https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700&display=swap");
.text-body-1 {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px; }

.text-body-2 {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px; }

.text-body-3 {
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #444444; }
  *:focus {
    outline: none; }

ul {
  list-style: none; }

::selection {
  background: #EC1846;
  color: white; }

body {
  -webkit-font-smoothing: antialiased;
  font-family: "Ubuntu", sans-serif;
  overflow: auto; }

.bfi, .caret-gray, .caret-pink {
  width: 16px;
  height: 13px;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  margin-right: 8px; }
  .bfi.bfi--arrow-down, .bfi--arrow-down.caret-gray, .bfi--arrow-down.caret-pink {
    background-image: url("../../fonts/icons/arrow-down.svg"); }
  .bfi.bfi--arrow-left-gray, .bfi--arrow-left-gray.caret-gray, .bfi--arrow-left-gray.caret-pink {
    background-image: url("../../fonts/icons/arrow-left-gray.svg"); }
  .bfi.bfi--arrow-left, .bfi--arrow-left.caret-gray, .bfi--arrow-left.caret-pink {
    background-image: url("../../fonts/icons/arrow-left.svg"); }
  .bfi.bfi--caret, .bfi--caret.caret-gray, .caret-pink {
    background-image: url("../../fonts/icons/caret.svg"); }
  .bfi.bfi--caret-gray, .caret-gray, .bfi--caret-gray.caret-pink {
    background-image: url("../../fonts/icons/caret-gray.svg"); }
  .bfi.bfi--check-gray, .bfi--check-gray.caret-gray, .bfi--check-gray.caret-pink {
    background-image: url("../../fonts/icons/check-gray.svg"); }
  .bfi.bfi--check, .bfi--check.caret-gray, .bfi--check.caret-pink {
    background-image: url("../../fonts/icons/check.svg"); }
  .bfi.bfi--download, .bfi--download.caret-gray, .bfi--download.caret-pink {
    background-image: url("../../fonts/icons/download.svg"); }
  .bfi.bfi--exclamation-mark-circle, .bfi--exclamation-mark-circle.caret-gray, .bfi--exclamation-mark-circle.caret-pink {
    background-image: url("../../fonts/icons/exclamation-mark-circle.svg"); }
  .bfi.bfi--eye, .bfi--eye.caret-gray, .bfi--eye.caret-pink {
    background-image: url("../../fonts/icons/eye.svg"); }
  .bfi.bfi--lamp-blue-bg, .bfi--lamp-blue-bg.caret-gray, .bfi--lamp-blue-bg.caret-pink {
    background-image: url("../../fonts/icons/lamp-blue-bg.svg"); }
  .bfi.bfi--lamp, .bfi--lamp.caret-gray, .bfi--lamp.caret-pink {
    background-image: url("../../fonts/icons/lamp.svg"); }
  .bfi.bfi--lupe, .bfi--lupe.caret-gray, .bfi--lupe.caret-pink {
    background-image: url("../../fonts/icons/lupe.svg"); }
  .bfi.bfi--menu, .bfi--menu.caret-gray, .bfi--menu.caret-pink {
    background-image: url("../../fonts/icons/menu.svg"); }
  .bfi.bfi--plus-transparent, .bfi--plus-transparent.caret-gray, .bfi--plus-transparent.caret-pink {
    background-image: url("../../fonts/icons/plus-transparent.svg"); }
  .bfi.bfi--plus, .bfi--plus.caret-gray, .bfi--plus.caret-pink {
    background-image: url("../../fonts/icons/plus.svg"); }
  .bfi.bfi--times, .bfi--times.caret-gray, .bfi--times.caret-pink {
    background-image: url("../../fonts/icons/times.svg"); }
  .bfi.bfi--user, .bfi--user.caret-gray, .bfi--user.caret-pink {
    background-image: url("../../fonts/icons/user.svg"); }

.caret-gray, .caret-pink {
  margin-left: 8px;
  height: 9px;
  width: 12px;
  opacity: 0.8; }

h1 {
  line-height: 48px;
  font-size: 32px;
  font-weight: 300; }

h2 {
  line-height: 34px;
  font-size: 24px;
  font-weight: 700; }

h3 {
  line-height: 30px;
  font-size: 20px;
  font-weight: 500; }

h4 {
  line-height: 30px;
  font-size: 20px;
  font-weight: 300; }

h5 {
  line-height: 27px;
  font-size: 18px;
  font-weight: 700; }

h6 {
  line-height: 24px;
  font-size: 16px;
  font-weight: 400; }

.float-left {
  float: left; }

.float-right {
  float: right; }

.text-center {
  text-align: center; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-justify {
  text-align: justify; }

.mt-1 {
  margin-top: 1rem; }

.mt-2 {
  margin-top: 1.5rem; }

.mt-3 {
  margin-top: 2rem; }

.mt-4, div.container #icons ul {
  margin-top: 2.5rem; }

.mb-1 {
  margin-bottom: 1rem; }

.mb-2 {
  margin-bottom: 1.5rem; }

.mb-3 {
  margin-bottom: 2rem; }

.mb-4 {
  margin-bottom: 2.5rem; }

.p-1 {
  padding: 1rem !important; }

.p-2 {
  padding: 1.15rem !important; }

.p-3 {
  padding: 1.3rem !important; }

.p-4 {
  padding: 1.45rem !important; }

.pt-1 {
  padding-top: 1rem; }

.pt-2 {
  padding-top: 1.5rem; }

.pt-3 {
  padding-top: 2rem; }

.pt-4 {
  padding-top: 2.5rem; }

.pb-1 {
  padding-bottom: 1rem; }

.pb-2 {
  padding-bottom: 1.5rem; }

.pb-3 {
  padding-bottom: 2rem; }

.pb-4 {
  padding-bottom: 2.5rem; }

.d-flex {
  display: flex; }

.d-block {
  display: block; }

.d-inline-block {
  display: inline-block; }

.justify-content-center {
  justify-content: center; }

.justify-content-flex-start {
  justify-content: flex-start; }

.justify-content-flex-end {
  justify-content: flex-end; }

.justify-content-space-around {
  justify-content: space-around; }

.justify-content-space-between {
  justify-content: space-between; }

.justify-content-space-evenly {
  justify-content: space-evenly; }

.align-items-center {
  align-items: center; }

.align-items-baseline {
  align-items: baseline; }

.align-items-stretch {
  align-items: stretch; }

.align-items-flex-start {
  align-items: flex-start; }

.align-items-flex-end {
  align-items: flex-end; }

.align-content-center {
  align-content: center; }

.align-content-baseline {
  align-content: baseline; }

.align-content-stretch {
  align-content: stretch; }

.align-content-flex-start {
  align-content: flex-start; }

.align-content-flex-end {
  align-content: flex-end; }

.align-items-center {
  align-items: center; }

.align-items-baseline {
  align-items: baseline; }

.align-items-stretch {
  align-items: stretch; }

.align-items-flex-start {
  align-items: flex-start; }

.align-items-flex-end {
  align-items: flex-end; }

.order-0 {
  order: 0; }

.order-1 {
  order: 1; }

.order-2 {
  order: 2; }

.order-3 {
  order: 3; }

.order-4 {
  order: 4; }

form {
  overflow: auto; }
  form .form-group {
    margin-bottom: 2.5rem; }
  form .note {
    font-size: 14px;
    color: #666666;
    margin-bottom: 0.5rem; }
  form .counter {
    text-align: right;
    color: #A4A4A4;
    margin-top: 0.5rem; }
  form ul.radio-options li {
    background: #E9E9E9;
    display: flex;
    justify-content: left;
    padding: 1rem;
    border-radius: 5px;
    border: 1px solid transparent;
    text-align: left;
    margin-bottom: 0.5rem; }
    form ul.radio-options li:hover {
      border: 1px solid #002E93; }
    form ul.radio-options li label {
      margin: 0 0 0 0.5rem;
      width: 100%; }
  form hr {
    border: 1px solid #A4A4A4;
    margin-bottom: 2.5rem; }
  form label {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 0.5rem;
    display: inline-block; }
    form label .optional {
      font-weight: 400;
      color: #EC1846; }
  form input[type=text], form textarea, form select {
    background-color: #F3F3F3;
    font-size: 14px;
    padding: 1rem;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-bottom: 1px solid #002E93;
    color: #444444;
    line-height: 20px;
    width: 100%;
    border-radius: 5px;
    font-family: inherit;
    font-weight: 300; }
  form textarea {
    resize: none; }
  form select option {
    color: #666666;
    padding: 1rem; }

table {
  border-collapse: separate;
  border-spacing: 0; }
  table tr {
    background-color: #E9E9E9; }
    table tr:nth-child(odd) {
      background-color: #F3F3F3; }
    table tr th, table tr td {
      padding: 1.25rem 1rem;
      font-size: 16px;
      color: #A4A4A4;
      vertical-align: center; }
    table tr th {
      font-weight: 600;
      color: #000000;
      background-color: #DCDCDC;
      border: 0; }
    table tr td div.status {
      display: flex;
      align-items: center;
      color: inherit; }
      table tr td div.status div.status__indicator {
        float: left;
        width: 14px;
        height: 14px;
        border-radius: 10px;
        background-color: #F3F3F3;
        margin-right: 0.5rem; }
        table tr td div.status div.status__indicator--active {
          background-color: #2BB24C; }
        table tr td div.status div.status__indicator--inactive {
          background-color: #A50000; }

.btn, nav.navigation.navigation--bottom a.back, nav.navigation.navigation--bottom a.skip, nav.navigation.navigation--bottom a.continue {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  padding: 13px 24px;
  color: #EC1846;
  border-radius: 5px;
  text-align: center;
  letter-spacing: 1px;
  display: flex;
  text-decoration: none;
  align-items: center; }
  .btn:hover, nav.navigation.navigation--bottom a.back:hover, nav.navigation.navigation--bottom a.skip:hover, nav.navigation.navigation--bottom a.continue:hover {
    background-color: #fabdca; }
  .btn--sm, nav.navigation.navigation--bottom a.back, nav.navigation.navigation--bottom a.skip, nav.navigation.navigation--bottom a.continue {
    font-size: 12px;
    letter-spacing: 3px;
    padding: 10px 32px; }
  .btn--lg {
    padding: 16px 24px; }
  .btn--xl {
    font-size: 16px;
    padding: 24px 32px; }
  .btn--pink-1, nav.navigation.navigation--bottom a.continue {
    background-color: #EC1846;
    color: white;
    border: 2px solid #EC1846; }
    .btn--pink-1:hover, nav.navigation.navigation--bottom a.continue:hover {
      background-color: white;
      color: #EC1846; }
  .btn--outline-pink-1 {
    border: 2px solid #EC1846;
    background-color: white;
    color: #EC1846; }
    .btn--outline-pink-1:hover {
      background-color: #EC1846;
      color: white; }
  .btn--pink-2 {
    background-color: #f47691;
    color: white;
    border: 2px solid #f47691; }
    .btn--pink-2:hover {
      background-color: white;
      color: #f47691; }
  .btn--outline-pink-2 {
    border: 2px solid #f47691;
    background-color: white;
    color: #f47691; }
    .btn--outline-pink-2:hover {
      background-color: #f47691;
      color: white; }
  .btn--blue-1 {
    background-color: #002E93;
    color: white;
    border: 2px solid #002E93; }
    .btn--blue-1:hover {
      background-color: white;
      color: #002E93; }
  .btn--outline-blue-1 {
    border: 2px solid #002E93;
    background-color: white;
    color: #002E93; }
    .btn--outline-blue-1:hover {
      background-color: #002E93;
      color: white; }
  .btn--blue-2 {
    background-color: #004ef9;
    color: white;
    border: 2px solid #004ef9; }
    .btn--blue-2:hover {
      background-color: white;
      color: #004ef9; }
  .btn--outline-blue-2 {
    border: 2px solid #004ef9;
    background-color: white;
    color: #004ef9; }
    .btn--outline-blue-2:hover {
      background-color: #004ef9;
      color: white; }

nav.navigation {
  /** ALL NAVIGATIONS */
  overflow: auto;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: flex-end;
  /** TOP NAVIGATION / MOBILE TOP NAVIGATION */
  /** ONLY DESKTOP TOP NAVIGATION */
  /** ONLY MOBILE TOP NAVIGATION */
  /** BOTTOM NAVIGATION */ }
  nav.navigation.navigation--top, nav.navigation.navigation--top--mobile {
    min-height: 56px;
    align-items: center; }
    nav.navigation.navigation--top a.brand, nav.navigation.navigation--top--mobile a.brand {
      background-image: url("../../img/benfeitoria-text-pink.png");
      background-size: cover;
      background-repeat: no-repeat;
      width: 120px;
      height: 30px;
      margin-right: auto;
      margin-left: 34px; }
    nav.navigation.navigation--top > ul, nav.navigation.navigation--top--mobile > ul {
      display: flex;
      list-style: none;
      align-items: center; }
    nav.navigation.navigation--top li.divider, nav.navigation.navigation--top--mobile li.divider {
      width: 100%;
      height: 0;
      border: 0.3px solid rgba(164, 164, 164, 0.2);
      padding: 0 0;
      margin: 12px 0;
      border-collapse: collapse; }
    nav.navigation.navigation--top li.heading, nav.navigation.navigation--top--mobile li.heading {
      font-size: 13px;
      font-family: 'Ubuntu', sans-serif;
      letter-spacing: 0;
      text-align: left;
      color: #A4A4A4;
      padding: 12px 32px;
      text-transform: uppercase; }
    nav.navigation.navigation--top li.logout a, nav.navigation.navigation--top--mobile li.logout a {
      color: #EC1846; }
    nav.navigation.navigation--top li a, nav.navigation.navigation--top--mobile li a {
      height: 40px;
      padding: 8px 32px;
      display: flex;
      text-align: left;
      align-items: center;
      font-size: 16px;
      font-family: "Ubuntu", sans-serif;
      letter-spacing: 0;
      color: #444444;
      text-decoration: none; }
    nav.navigation.navigation--top li.nav-icon a, nav.navigation.navigation--top--mobile li.nav-icon a {
      padding: 0 10px; }
      nav.navigation.navigation--top li.nav-icon a i.bfi, nav.navigation.navigation--top li.nav-icon a i.caret-gray, nav.navigation.navigation--top li.nav-icon a i.caret-pink, nav.navigation.navigation--top--mobile li.nav-icon a i.bfi, nav.navigation.navigation--top--mobile li.nav-icon a i.caret-gray, nav.navigation.navigation--top--mobile li.nav-icon a i.caret-pink {
        width: 36px;
        height: 30px;
        margin-right: 0; }
    nav.navigation.navigation--top li.auth > a, nav.navigation.navigation--top--mobile li.auth > a {
      color: #EC1846; }
    nav.navigation.navigation--top li.auth:not(.logged-in) > a, nav.navigation.navigation--top--mobile li.auth:not(.logged-in) > a {
      font-weight: bold; }
  nav.navigation.navigation--top > ul > li.dropdown:last-child ul {
    margin-left: -60px; }
  nav.navigation.navigation--top > ul > li.dropdown ul {
    display: none;
    position: absolute;
    background: #FFFFFF 0 0 no-repeat padding-box;
    border: 1px solid #E9E9E9;
    border-radius: 0 0 5px 5px;
    padding: 12px 0;
    z-index: 1;
    max-width: 230px; }
  nav.navigation.navigation--top > ul > li.dropdown:hover ul {
    display: block; }
  nav.navigation.navigation--top--mobile {
    display: none; }
  nav.navigation.navigation--bottom a {
    margin: 0; }
    nav.navigation.navigation--bottom a.back {
      margin-right: auto;
      order: 1; }
    nav.navigation.navigation--bottom a.skip {
      order: 2;
      margin-right: 40px; }
    nav.navigation.navigation--bottom a.continue {
      order: 3; }

@media screen and (max-width: 768px) {
  nav.navigation {
    /** NAVIGATION TOP DESKTOP BEHAVIOR WHEN MOBILE*/
    /** NAVIGATION TOP MOBILE BEHAVIOR WHEN MOBILE*/ }
    nav.navigation.navigation--top {
      display: none; }
    nav.navigation.navigation--top--mobile {
      display: flex;
      flex-wrap: wrap;
      box-shadow: 0 1px 3px #DCDCDC;
      align-content: flex-start;
      flex-direction: row; }
      nav.navigation.navigation--top--mobile .navigation--top--mobile__heading {
        display: flex;
        align-items: center;
        padding: 16px 24px;
        width: 100% !important;
        box-shadow: 0 1px 3px #DCDCDC; }
        nav.navigation.navigation--top--mobile .navigation--top--mobile__heading > a.brand {
          margin-left: 0;
          display: block; }
        nav.navigation.navigation--top--mobile .navigation--top--mobile__heading > i.navigation--top--mobile__heading__menu-toggle {
          width: 20px;
          height: 20px;
          cursor: pointer;
          margin-right: 0; }
      nav.navigation.navigation--top--mobile ul {
        transition: ease-in-out 0.8s;
        display: none; }
      nav.navigation.navigation--top--mobile.collapsed {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        height: calc(100vh); }
        nav.navigation.navigation--top--mobile.collapsed > ul {
          margin-top: 32px;
          display: block;
          width: 100%;
          flex-grow: 1;
          max-height: 100%;
          overflow-y: auto; }
          nav.navigation.navigation--top--mobile.collapsed > ul li.heading, nav.navigation.navigation--top--mobile.collapsed > ul li a {
            padding: 8px 24px; }
          nav.navigation.navigation--top--mobile.collapsed > ul li.dropdown > ul.collapsed {
            display: block; } }

a:hover {
  color: #EC1846; }

.color-pink-1 {
  color: #EC1846; }

.bg-pink-1 {
  background-color: #EC1846;
  color: black; }

.color-pink-2 {
  color: #f47691; }

.bg-pink-2 {
  background-color: #f47691;
  color: black; }

.color-pink-3 {
  color: #fabdca; }

.bg-pink-3 {
  background-color: #fabdca;
  color: black; }

.color-blue-1 {
  color: #002E93; }

.bg-blue-1 {
  background-color: #002E93;
  color: white; }

.color-blue-2 {
  color: #004ef9; }

.bg-blue-2 {
  background-color: #004ef9;
  color: white; }

.color-blue-3 {
  color: #4780ff; }

.bg-blue-3 {
  background-color: #4780ff;
  color: black; }

.color-gray-1 {
  color: #000000; }

.bg-gray-1 {
  background-color: #000000;
  color: white; }

.color-gray-2 {
  color: #222222; }

.bg-gray-2 {
  background-color: #222222;
  color: white; }

.color-gray-3 {
  color: #444444; }

.bg-gray-3 {
  background-color: #444444;
  color: white; }

.color-gray-4 {
  color: #666666; }

.bg-gray-4 {
  background-color: #666666;
  color: white; }

.color-gray-5 {
  color: #888888; }

.bg-gray-5 {
  background-color: #888888;
  color: black; }

.color-gray-6 {
  color: #A4A4A4; }

.bg-gray-6 {
  background-color: #A4A4A4;
  color: black; }

.color-gray-7 {
  color: #DCDCDC; }

.bg-gray-7 {
  background-color: #DCDCDC;
  color: black; }

.color-gray-8 {
  color: #E9E9E9; }

.bg-gray-8 {
  background-color: #E9E9E9;
  color: black; }

.color-gray-9 {
  color: #F3F3F3; }

.bg-gray-9 {
  background-color: #F3F3F3;
  color: black; }

.color-alert-1 {
  color: #2BB24C; }

.bg-alert-1 {
  background-color: #2BB24C;
  color: black; }

.color-alert-2 {
  color: #FDD13A; }

.bg-alert-2 {
  background-color: #FDD13A;
  color: black; }

.color-alert-3 {
  color: #EA6E1B; }

.bg-alert-3 {
  background-color: #EA6E1B;
  color: black; }

.color-alert-4 {
  color: #A50000; }

.bg-alert-4 {
  background-color: #A50000;
  color: white; }

xmp, code {
  color: red; }

div.container {
  width: 1200px;
  margin: 0 auto;
  display: flex; }
  div.container aside.sidebar {
    background-color: #F0F0F0;
    padding: 20px;
    min-width: 200px;
    top: 0;
    bottom: 0;
    left: 0;
    position: fixed;
    overflow-y: scroll;
    overflow-x: hidden;
    align-self: flex-start; }
    div.container aside.sidebar ul li {
      padding: 20px; }
      div.container aside.sidebar ul li:nth-child(odd) {
        background-color: white; }
  div.container .sidebar, div.container .content {
    margin: 0 5px; }
  div.container .content {
    padding: 20px 20px 80px 20px;
    width: 100%;
    margin-left: 200px;
    text-align: center; }
    div.container .content table {
      min-width: 600px;
      margin: 0 auto; }
  div.container #icons ul {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap; }
    div.container #icons ul li {
      display: flex;
      width: 33%;
      justify-content: center;
      flex-wrap: wrap;
      padding: 30px;
      margin-bottom: 10px; }
      div.container #icons ul li i.bfi, div.container #icons ul li i.caret-gray, div.container #icons ul li i.caret-pink {
        width: 40px;
        height: 37px; }
      div.container #icons ul li code {
        margin-top: 20px;
        width: 100%;
        font-size: 10px;
        cursor: pointer; }
      div.container #icons ul li:hover {
        background-color: #EC1846;
        transition: ease-in-out 0.2s; }
        div.container #icons ul li:hover code {
          color: #FFF; }
  div.container #navigation header h2 {
    font-size: 17px; }
