@import url("https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700&display=swap");
.text-body-1 {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px; }

.text-body-2 {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px; }

.text-body-3 {
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #444444; }
  *:focus {
    outline: none; }

ul {
  list-style: none; }

::selection {
  background: #EC1846;
  color: white; }

body {
  -webkit-font-smoothing: antialiased;
  font-family: "Ubuntu", sans-serif;
  overflow: auto; }

.bfi, .caret-gray, .caret-pink {
  width: 16px;
  height: 13px;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  margin-right: 8px; }
  .bfi.bfi--arrow-down, .bfi--arrow-down.caret-gray, .bfi--arrow-down.caret-pink {
    background-image: url("../../fonts/icons/arrow-down.svg"); }
  .bfi.bfi--arrow-left-gray, .bfi--arrow-left-gray.caret-gray, .bfi--arrow-left-gray.caret-pink {
    background-image: url("../../fonts/icons/arrow-left-gray.svg"); }
  .bfi.bfi--arrow-left, .bfi--arrow-left.caret-gray, .bfi--arrow-left.caret-pink {
    background-image: url("../../fonts/icons/arrow-left.svg"); }
  .bfi.bfi--caret, .bfi--caret.caret-gray, .caret-pink {
    background-image: url("../../fonts/icons/caret.svg"); }
  .bfi.bfi--caret-gray, .caret-gray, .bfi--caret-gray.caret-pink {
    background-image: url("../../fonts/icons/caret-gray.svg"); }
  .bfi.bfi--check-gray, .bfi--check-gray.caret-gray, .bfi--check-gray.caret-pink {
    background-image: url("../../fonts/icons/check-gray.svg"); }
  .bfi.bfi--check, .bfi--check.caret-gray, .bfi--check.caret-pink {
    background-image: url("../../fonts/icons/check.svg"); }
  .bfi.bfi--download, .bfi--download.caret-gray, .bfi--download.caret-pink {
    background-image: url("../../fonts/icons/download.svg"); }
  .bfi.bfi--exclamation-mark-circle, .bfi--exclamation-mark-circle.caret-gray, .bfi--exclamation-mark-circle.caret-pink {
    background-image: url("../../fonts/icons/exclamation-mark-circle.svg"); }
  .bfi.bfi--eye, .bfi--eye.caret-gray, .bfi--eye.caret-pink {
    background-image: url("../../fonts/icons/eye.svg"); }
  .bfi.bfi--lamp-blue-bg, .bfi--lamp-blue-bg.caret-gray, .bfi--lamp-blue-bg.caret-pink {
    background-image: url("../../fonts/icons/lamp-blue-bg.svg"); }
  .bfi.bfi--lamp, .bfi--lamp.caret-gray, .bfi--lamp.caret-pink {
    background-image: url("../../fonts/icons/lamp.svg"); }
  .bfi.bfi--lupe, .bfi--lupe.caret-gray, .bfi--lupe.caret-pink {
    background-image: url("../../fonts/icons/lupe.svg"); }
  .bfi.bfi--menu, .bfi--menu.caret-gray, .bfi--menu.caret-pink {
    background-image: url("../../fonts/icons/menu.svg"); }
  .bfi.bfi--plus-transparent, .bfi--plus-transparent.caret-gray, .bfi--plus-transparent.caret-pink {
    background-image: url("../../fonts/icons/plus-transparent.svg"); }
  .bfi.bfi--plus, .bfi--plus.caret-gray, .bfi--plus.caret-pink {
    background-image: url("../../fonts/icons/plus.svg"); }
  .bfi.bfi--times, .bfi--times.caret-gray, .bfi--times.caret-pink {
    background-image: url("../../fonts/icons/times.svg"); }
  .bfi.bfi--user, .bfi--user.caret-gray, .bfi--user.caret-pink {
    background-image: url("../../fonts/icons/user.svg"); }

.caret-gray, .caret-pink {
  margin-left: 8px;
  height: 9px;
  width: 12px;
  opacity: 0.8; }

h1 {
  line-height: 48px;
  font-size: 32px;
  font-weight: 300; }

h2 {
  line-height: 34px;
  font-size: 24px;
  font-weight: 700; }

h3 {
  line-height: 30px;
  font-size: 20px;
  font-weight: 500; }

h4 {
  line-height: 30px;
  font-size: 20px;
  font-weight: 300; }

h5 {
  line-height: 27px;
  font-size: 18px;
  font-weight: 700; }

h6 {
  line-height: 24px;
  font-size: 16px;
  font-weight: 400; }

.line, .line--white, .line--pink-1, .line--pink-2, .line--pink-3, .line--blue-1, .line--blue-2, .line--blue-3, .line--gray-1, .line--gray-2, .line--gray-3, .line--gray-4, .line--gray-5, .line--gray-6, .line--gray-7, .line--gray-8, .line--gray-9, .line--alert-1, .line--alert-2, .line--alert-3, .line--alert-4 {
  display: inline-flex;
  background: linear-gradient(#EC1846, #EC1846) bottom no-repeat;
  background-size: 35% 3px;
  background-position: left bottom; }
  .line--white {
    background-image: linear-gradient(#FFFFFF, #FFFFFF); }
  .line--pink-1 {
    background-image: linear-gradient(#EC1846, #EC1846); }
  .line--pink-2 {
    background-image: linear-gradient(#f47691, #f47691); }
  .line--pink-3 {
    background-image: linear-gradient(#fabdca, #fabdca); }
  .line--blue-1 {
    background-image: linear-gradient(#002E93, #002E93); }
  .line--blue-2 {
    background-image: linear-gradient(#004ef9, #004ef9); }
  .line--blue-3 {
    background-image: linear-gradient(#4780ff, #4780ff); }
  .line--gray-1 {
    background-image: linear-gradient(#000000, #000000); }
  .line--gray-2 {
    background-image: linear-gradient(#222222, #222222); }
  .line--gray-3 {
    background-image: linear-gradient(#444444, #444444); }
  .line--gray-4 {
    background-image: linear-gradient(#666666, #666666); }
  .line--gray-5 {
    background-image: linear-gradient(#888888, #888888); }
  .line--gray-6 {
    background-image: linear-gradient(#A4A4A4, #A4A4A4); }
  .line--gray-7 {
    background-image: linear-gradient(#DCDCDC, #DCDCDC); }
  .line--gray-8 {
    background-image: linear-gradient(#E9E9E9, #E9E9E9); }
  .line--gray-9 {
    background-image: linear-gradient(#F3F3F3, #F3F3F3); }
  .line--alert-1 {
    background-image: linear-gradient(#2BB24C, #2BB24C); }
  .line--alert-2 {
    background-image: linear-gradient(#FDD13A, #FDD13A); }
  .line--alert-3 {
    background-image: linear-gradient(#EA6E1B, #EA6E1B); }
  .line--alert-4 {
    background-image: linear-gradient(#A50000, #A50000); }

.float-left {
  float: left; }

.float-right {
  float: right; }

.text-center {
  text-align: center; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-justify {
  text-align: justify; }

.mt-1 {
  margin-top: 1rem; }

.mt-2 {
  margin-top: 1.5rem; }

.mt-3 {
  margin-top: 2rem; }

.mt-4, div.container #icons ul {
  margin-top: 2.5rem; }

.mb-1 {
  margin-bottom: 1rem; }

.mb-2 {
  margin-bottom: 1.5rem; }

.mb-3 {
  margin-bottom: 2rem; }

.mb-4 {
  margin-bottom: 2.5rem; }

.my-1 {
  margin-top: 1rem;
  margin-bottom: 1rem; }

.my-2 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem; }

.my-3 {
  margin-top: 2rem;
  margin-bottom: 2rem; }

.my-4 {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem; }

.mx-1 {
  margin-left: 1rem;
  margin-right: 1rem; }

.mx-2 {
  margin-left: 1.5rem;
  margin-right: 1.5rem; }

.mx-3 {
  margin-left: 2rem;
  margin-right: 2rem; }

.mx-4 {
  margin-left: 2.5rem;
  margin-right: 2.5rem; }

.p-1 {
  padding: 1rem !important; }

.p-2 {
  padding: 1.15rem !important; }

.p-3 {
  padding: 1.3rem !important; }

.p-4 {
  padding: 1.45rem !important; }

.pt-1 {
  padding-top: 1rem; }

.pt-2 {
  padding-top: 1.5rem; }

.pt-3 {
  padding-top: 2rem; }

.pt-4 {
  padding-top: 2.5rem; }

.pb-1 {
  padding-bottom: 1rem; }

.pb-2 {
  padding-bottom: 1.5rem; }

.pb-3 {
  padding-bottom: 2rem; }

.pb-4 {
  padding-bottom: 2.5rem; }

.py-1 {
  padding-top: 1rem;
  padding-bottom: 1rem; }

.py-2 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem; }

.py-3 {
  padding-top: 2rem;
  padding-bottom: 2rem; }

.py-4 {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem; }

.px-1 {
  padding-left: 1rem;
  padding-right: 1rem; }

.px-2 {
  padding-left: 1.5rem;
  padding-right: 1.5rem; }

.px-3 {
  padding-left: 2rem;
  padding-right: 2rem; }

.px-4 {
  padding-left: 2.5rem;
  padding-right: 2.5rem; }

.d-flex {
  display: flex; }

.d-block {
  display: block; }

.d-inline-block {
  display: inline-block; }

.justify-content-center {
  justify-content: center; }

.justify-content-flex-start {
  justify-content: flex-start; }

.justify-content-flex-end {
  justify-content: flex-end; }

.justify-content-space-around {
  justify-content: space-around; }

.justify-content-space-between {
  justify-content: space-between; }

.justify-content-space-evenly {
  justify-content: space-evenly; }

.align-items-center {
  align-items: center; }

.align-items-baseline {
  align-items: baseline; }

.align-items-stretch {
  align-items: stretch; }

.align-items-flex-start {
  align-items: flex-start; }

.align-items-flex-end {
  align-items: flex-end; }

.align-content-center {
  align-content: center; }

.align-content-baseline {
  align-content: baseline; }

.align-content-stretch {
  align-content: stretch; }

.align-content-flex-start {
  align-content: flex-start; }

.align-content-flex-end {
  align-content: flex-end; }

.align-items-center {
  align-items: center; }

.align-items-baseline {
  align-items: baseline; }

.align-items-stretch {
  align-items: stretch; }

.align-items-flex-start {
  align-items: flex-start; }

.align-items-flex-end {
  align-items: flex-end; }

.order-0 {
  order: 0; }

.order-1 {
  order: 1; }

.order-2 {
  order: 2; }

.order-3 {
  order: 3; }

.order-4 {
  order: 4; }

.fade-out {
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -ms-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  opacity: 0; }

.fade-in {
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -ms-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  opacity: 1; }

form {
  overflow: auto; }
  form .form-group {
    margin-bottom: 2.5rem; }
  form .note {
    font-size: 14px;
    color: #666666;
    margin-bottom: 0.5rem; }
  form .counter {
    text-align: right;
    color: #A4A4A4;
    margin-top: 0.5rem; }
  form ul.radio-options li {
    background: #E9E9E9;
    display: flex;
    justify-content: left;
    padding: 1rem;
    border-radius: 5px;
    border: 1px solid transparent;
    text-align: left;
    margin-bottom: 0.5rem; }
    form ul.radio-options li:hover {
      border: 1px solid #002E93; }
    form ul.radio-options li label {
      margin: 0 0 0 0.5rem;
      width: 100%; }
  form ul.radio-options li:hover, form ul.radio-options label:hover, form ul.radio-options input:hover {
    cursor: pointer; }
  form hr {
    border: 1px solid #A4A4A4;
    margin-bottom: 2.5rem; }
  form label {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 0.5rem;
    display: inline-block; }
    form label .optional {
      font-weight: 400;
      color: #EC1846; }
  form input[type=text], form textarea, form select {
    background-color: #F3F3F3;
    font-size: 14px;
    padding: 1rem;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-bottom: 1px solid #002E93;
    color: #444444;
    line-height: 20px;
    width: 100%;
    border-radius: 5px;
    font-family: inherit;
    font-weight: 300; }
  form textarea {
    resize: none; }
  form select option {
    color: #666666;
    padding: 1rem; }
  form .checkbox {
    position: relative;
    padding-left: 36px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 12px;
    font-weight: 500;
    padding-top: 3px; }
    form .checkbox input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0; }
    form .checkbox .checkmark {
      position: absolute;
      top: 0;
      left: 0;
      height: 20px;
      width: 20px;
      background-color: #FFFFFF;
      border-radius: 5px;
      border: 1px solid #A4A4A4; }
      form .checkbox .checkmark:after {
        content: "";
        position: absolute;
        display: none; }
    form .checkbox input:checked ~ .checkmark {
      background-color: #002E93;
      border-width: 0px; }
    form .checkbox input:checked ~ .checkmark:after {
      display: block;
      left: 7px; }
    form .checkbox .checkmark:after {
      left: 6px;
      top: 4px;
      width: 3px;
      height: 8px;
      border: solid white;
      border-width: 0 3px 3px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg); }
  form .toggle {
    position: relative;
    display: inline-block;
    width: 32px;
    height: 16px; }
    form .toggle input {
      opacity: 0;
      width: 0;
      height: 0; }
    form .toggle .toggle__slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #DCDCDC;
      -webkit-transition: .4s;
      transition: .4s;
      border-radius: 34px; }
      form .toggle .toggle__slider .toggle__slider__label {
        margin-left: 43px; }
      form .toggle .toggle__slider:before {
        position: absolute;
        content: "";
        height: 12px;
        width: 12px;
        left: 3px;
        bottom: 2px;
        background-color: #FFFFFF;
        -webkit-transition: .4s;
        transition: .4s;
        border-radius: 50%; }
    form .toggle input:checked + .toggle__slider {
      background-color: #2BB24C; }
    form .toggle input:focus + .toggle__slider {
      box-shadow: 0 0 1px #2BB24C; }
    form .toggle input:checked + .toggle__slider:before {
      -webkit-transform: translateX(14px);
      -ms-transform: translateX(14px);
      transform: translateX(14px); }

table {
  border-collapse: separate;
  border-spacing: 0; }
  table tr {
    background-color: #E9E9E9; }
    table tr:nth-child(odd) {
      background-color: #F3F3F3; }
    table tr th, table tr td {
      padding: 1.25rem 1rem;
      font-size: 16px;
      color: #A4A4A4;
      vertical-align: center; }
    table tr th {
      font-weight: 600;
      color: #000000;
      background-color: #DCDCDC;
      border: 0; }
    table tr td div.status {
      display: flex;
      align-items: center;
      color: inherit; }
      table tr td div.status div.status__indicator {
        float: left;
        width: 14px;
        height: 14px;
        border-radius: 10px;
        background-color: #F3F3F3;
        margin-right: 0.5rem; }
        table tr td div.status div.status__indicator--active {
          background-color: #2BB24C; }
        table tr td div.status div.status__indicator--inactive {
          background-color: #A50000; }

.alert {
  /** ALL ALERTS */
  border-radius: 5px;
  padding: 1.5rem;
  text-align: left;
  /** STATUS ALERTS */
  /** ALERT STATUS DISMISS BUTTON */
  /** MESSAGE ALERTS */ }
  .alert--status-success {
    color: #222222;
    background-color: rgba(43, 178, 76, 0.3); }
  .alert--status-warning {
    color: #222222;
    background-color: rgba(253, 209, 58, 0.4); }
    .alert--status-warning-2 {
      color: #FFFFFF;
      background-color: #EA6E1B; }
  .alert--status-error {
    color: #A50000;
    background-color: #FFDEE5; }
  .alert__close, .alert--message > .alert__close {
    font-size: 14px;
    display: table;
    margin-top: 1rem;
    color: #000000;
    cursor: pointer;
    font-weight: 500; }
  .alert--message {
    background: #002E93;
    color: #FFFFFF;
    position: relative;
    /** ARROW */
    /** DISMISS BUTTON */ }
    .alert--message::before {
      content: " ";
      position: absolute;
      right: 8px;
      top: -15px;
      border-top: none;
      border-right: 17.5px solid transparent;
      border-left: 17.5px solid transparent;
      border-bottom: 20px solid #002E93; }
    .alert--message > .alert__close {
      color: #FFFFFF;
      border: 2px solid #FFFFFF;
      padding: 0.63rem 1rem;
      border-radius: 5px; }
      .alert--message > .alert__close:hover {
        background-color: #FFFFFF;
        color: #002E93; }

.btn, nav.navigation.navigation--bottom a.back, nav.navigation.navigation--bottom a.skip, nav.navigation.navigation--bottom a.continue {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  padding: 13px 24px;
  color: #EC1846;
  border-radius: 5px;
  text-align: center;
  letter-spacing: 1px;
  display: flex;
  text-decoration: none;
  align-items: center; }
  .btn:hover, nav.navigation.navigation--bottom a.back:hover, nav.navigation.navigation--bottom a.skip:hover, nav.navigation.navigation--bottom a.continue:hover {
    background-color: #fabdca; }
  .btn--sm, nav.navigation.navigation--bottom a.back, nav.navigation.navigation--bottom a.skip, nav.navigation.navigation--bottom a.continue {
    font-size: 12px;
    letter-spacing: 3px;
    padding: 10px 32px; }
  .btn--lg {
    padding: 16px 24px; }
  .btn--xl {
    font-size: 16px;
    padding: 24px 32px; }
  .btn--pink-1, nav.navigation.navigation--bottom a.continue {
    background-color: #EC1846;
    color: white;
    border: 2px solid #EC1846; }
    .btn--pink-1:hover, nav.navigation.navigation--bottom a.continue:hover {
      background-color: white;
      color: #EC1846; }
  .btn--outline-pink-1 {
    border: 2px solid #EC1846;
    background-color: white;
    color: #EC1846; }
    .btn--outline-pink-1:hover {
      background-color: #EC1846;
      color: white; }
  .btn--pink-2 {
    background-color: #f47691;
    color: white;
    border: 2px solid #f47691; }
    .btn--pink-2:hover {
      background-color: white;
      color: #f47691; }
  .btn--outline-pink-2 {
    border: 2px solid #f47691;
    background-color: white;
    color: #f47691; }
    .btn--outline-pink-2:hover {
      background-color: #f47691;
      color: white; }
  .btn--blue-1 {
    background-color: #002E93;
    color: white;
    border: 2px solid #002E93; }
    .btn--blue-1:hover {
      background-color: white;
      color: #002E93; }
  .btn--outline-blue-1 {
    border: 2px solid #002E93;
    background-color: white;
    color: #002E93; }
    .btn--outline-blue-1:hover {
      background-color: #002E93;
      color: white; }
  .btn--blue-2 {
    background-color: #004ef9;
    color: white;
    border: 2px solid #004ef9; }
    .btn--blue-2:hover {
      background-color: white;
      color: #004ef9; }
  .btn--outline-blue-2 {
    border: 2px solid #004ef9;
    background-color: white;
    color: #004ef9; }
    .btn--outline-blue-2:hover {
      background-color: #004ef9;
      color: white; }

nav.navigation {
  /** ALL NAVIGATIONS */
  overflow: auto;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: flex-end;
  /** TOP NAVIGATION / MOBILE TOP NAVIGATION */
  /** ONLY DESKTOP TOP NAVIGATION */
  /** ONLY MOBILE TOP NAVIGATION */
  /** BOTTOM NAVIGATION */ }
  nav.navigation.navigation--top, nav.navigation.navigation--top--mobile {
    min-height: 56px;
    align-items: center; }
    nav.navigation.navigation--top a.brand, nav.navigation.navigation--top--mobile a.brand {
      background-image: url("../../img/benfeitoria-text-pink.png");
      background-size: cover;
      background-repeat: no-repeat;
      width: 120px;
      height: 30px;
      margin-right: auto;
      margin-left: 34px; }
    nav.navigation.navigation--top > ul, nav.navigation.navigation--top--mobile > ul {
      display: flex;
      list-style: none;
      align-items: center; }
    nav.navigation.navigation--top li.divider, nav.navigation.navigation--top--mobile li.divider {
      width: 100%;
      height: 1px;
      border: 0.3px solid rgba(164, 164, 164, 0.2);
      padding: 0 0;
      margin: 12px 0;
      border-collapse: collapse; }
    nav.navigation.navigation--top li.heading, nav.navigation.navigation--top--mobile li.heading {
      font-size: 13px;
      font-family: 'Ubuntu', sans-serif;
      letter-spacing: 0;
      text-align: left;
      color: #A4A4A4;
      padding: 12px 16px;
      text-transform: uppercase; }
    nav.navigation.navigation--top li.logout a, nav.navigation.navigation--top--mobile li.logout a {
      color: #EC1846; }
    nav.navigation.navigation--top li a, nav.navigation.navigation--top--mobile li a {
      height: 40px;
      padding: 8px 16px;
      display: flex;
      text-align: left;
      align-items: center;
      font-size: 16px;
      font-family: "Ubuntu", sans-serif;
      letter-spacing: 0;
      color: #444444;
      text-decoration: none; }
    nav.navigation.navigation--top li.nav-icon a, nav.navigation.navigation--top--mobile li.nav-icon a {
      padding: 0 10px; }
      nav.navigation.navigation--top li.nav-icon a i.bfi, nav.navigation.navigation--top li.nav-icon a i.caret-gray, nav.navigation.navigation--top li.nav-icon a i.caret-pink, nav.navigation.navigation--top--mobile li.nav-icon a i.bfi, nav.navigation.navigation--top--mobile li.nav-icon a i.caret-gray, nav.navigation.navigation--top--mobile li.nav-icon a i.caret-pink {
        width: 36px;
        height: 30px;
        margin-right: 0; }
    nav.navigation.navigation--top li.auth > a, nav.navigation.navigation--top--mobile li.auth > a {
      color: #EC1846; }
    nav.navigation.navigation--top li.auth:not(.logged-in) > a, nav.navigation.navigation--top--mobile li.auth:not(.logged-in) > a {
      font-weight: bold; }
  nav.navigation.navigation--top > ul > li.dropdown:last-child ul {
    transform: translateX(-120px); }
  nav.navigation.navigation--top > ul > li.dropdown ul {
    display: none;
    position: absolute;
    background: #FFFFFF 0 0 no-repeat padding-box;
    border: 1px solid #E9E9E9;
    border-radius: 0 0 5px 5px;
    padding: 12px 0;
    z-index: 1;
    width: fit-content;
    max-width: 240px;
    width: -moz-max-content; }
    nav.navigation.navigation--top > ul > li.dropdown ul li a:hover {
      background-color: #F3F3F3; }
  nav.navigation.navigation--top > ul > li.dropdown:hover ul {
    display: block; }
  nav.navigation.navigation--top > ul > li > a {
    height: 55px; }
  nav.navigation.navigation--top li.dropdown ul a {
    padding: 8px 32px; }
  nav.navigation.navigation--top li.dropdown ul li.heading {
    padding: 8px 32px; }
  nav.navigation.navigation--top--mobile {
    display: none; }
  nav.navigation.navigation--bottom a {
    margin: 0; }
    nav.navigation.navigation--bottom a.back {
      margin-right: auto;
      order: 1; }
    nav.navigation.navigation--bottom a.skip {
      order: 2;
      margin-right: 40px; }
    nav.navigation.navigation--bottom a.continue {
      order: 3; }

@media screen and (max-width: 767px) {
  nav.navigation {
    /** NAVIGATION TOP DESKTOP BEHAVIOR WHEN MOBILE*/
    /** NAVIGATION TOP MOBILE BEHAVIOR WHEN MOBILE*/ }
    nav.navigation.navigation--top {
      display: none; }
    nav.navigation.navigation--top--mobile {
      display: flex;
      flex-wrap: wrap;
      box-shadow: 0 1px 3px #DCDCDC;
      align-content: flex-start;
      flex-direction: row; }
      nav.navigation.navigation--top--mobile .navigation--top--mobile__heading {
        display: flex;
        align-items: center;
        padding: 16px 24px;
        width: 100% !important;
        box-shadow: 0 1px 3px #DCDCDC; }
        nav.navigation.navigation--top--mobile .navigation--top--mobile__heading > a.brand {
          margin-left: 0;
          display: block; }
        nav.navigation.navigation--top--mobile .navigation--top--mobile__heading > i.navigation--top--mobile__heading__menu-toggle {
          width: 20px;
          height: 20px;
          cursor: pointer;
          margin-right: 0; }
      nav.navigation.navigation--top--mobile ul {
        transition: ease-in-out 0.8s;
        display: none; }
      nav.navigation.navigation--top--mobile.collapsed {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        height: calc(100vh); }
        nav.navigation.navigation--top--mobile.collapsed > li a {
          margin-bottom: 16px; }
        nav.navigation.navigation--top--mobile.collapsed > ul {
          margin-top: 32px;
          display: block;
          width: 100%;
          flex-grow: 1; }
          nav.navigation.navigation--top--mobile.collapsed > ul li.heading, nav.navigation.navigation--top--mobile.collapsed > ul li a {
            padding: 8px 24px; }
          nav.navigation.navigation--top--mobile.collapsed > ul li a {
            margin-bottom: 16px; }
          nav.navigation.navigation--top--mobile.collapsed > ul li.divider {
            margin: 24px 0; }
          nav.navigation.navigation--top--mobile.collapsed > ul li.heading {
            margin-bottom: 8px; }
          nav.navigation.navigation--top--mobile.collapsed > ul li.dropdown > ul > li a {
            margin-bottom: 0; }
          nav.navigation.navigation--top--mobile.collapsed > ul li.dropdown > ul.collapsed {
            display: block; } }

/** ALL CARDS */
.card {
  max-width: 480px; }
  .card__header {
    background: #E9E9E9 0% 0% no-repeat padding-box;
    border-radius: 5px 5px 0px 0px;
    padding: 1rem 1.5rem;
    color: #000000; }
  .card__body {
    background: #F3F3F3 0% 0% no-repeat padding-box;
    border-radius: 0px 0px 5px 5px;
    padding: 1.5rem; }

div.progress-bar {
  font-weight: 500;
  display: inline-flex;
  align-items: center; }
  div.progress-bar.progress-bar--md {
    display: inline-block; }
    div.progress-bar.progress-bar--md .progress-bar__svg {
      width: 24px;
      height: 24px; }
      div.progress-bar.progress-bar--md .progress-bar__svg .progress-bar__svg__circle {
        r: 11px;
        cx: 12px;
        cy: 12px;
        stroke-width: 2px; }
    div.progress-bar.progress-bar--md .progress-bar__text {
      font-size: 12px;
      padding: 0;
      position: inherit;
      display: block; }
  div.progress-bar.progress-bar--sm {
    display: inline-block; }
    div.progress-bar.progress-bar--sm .progress-bar__svg {
      width: 19px;
      height: 19px; }
      div.progress-bar.progress-bar--sm .progress-bar__svg .progress-bar__svg__circle {
        r: 9px;
        cx: 9.5px;
        cy: 9.5px;
        stroke-width: 1px; }
    div.progress-bar.progress-bar--sm .progress-bar__text {
      display: none; }
  div.progress-bar .progress-bar__svg {
    background-image: url(../../fonts/icons/check-gray.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 52px;
    height: 52px; }
    div.progress-bar .progress-bar__svg .progress-bar__svg__circle {
      transition: 0.35s stroke-dashoffset;
      transform: rotate(-90deg);
      transform-origin: 50% 50%;
      stroke: #2BB24C;
      fill: transparent;
      stroke-width: 4px;
      r: 24px;
      cx: 26px;
      cy: 26px; }
  div.progress-bar .progress-bar__text {
    position: relative;
    font-size: 20px;
    color: #A4A4A4;
    padding: 1rem 0 1rem 1rem; }
  div.progress-bar.progress-bar--done .progress-bar__svg {
    background-image: url(../../fonts/icons/check.svg); }
  div.progress-bar.progress-bar--done .progress-bar__text {
    color: #2BB24C; }

progress.progress-bar {
  padding: 4px;
  border: 0 none;
  background: #DCDCDC;
  border-radius: 14px;
  height: 16px;
  width: 160px; }
  progress.progress-bar.progress-bar--md {
    width: 80px;
    height: 8px;
    padding: 2px; }
  progress.progress-bar.progress-bar--sm {
    width: 40px;
    height: 4px;
    padding: 1px; }
  progress.progress-bar::-moz-progress-bar {
    border-radius: 12px;
    background: #2BB24C; }
  progress.progress-bar::-webkit-progress-bar {
    background: transparent; }
  progress.progress-bar::-webkit-progress-value {
    border-radius: 12px;
    background: #2BB24C; }

a:hover {
  color: #EC1846; }

.color-white {
  color: #FFFFFF; }

.bg-white {
  background-color: #FFFFFF; }

.color-pink-1 {
  color: #EC1846; }

.bg-pink-1 {
  background-color: #EC1846; }

.color-pink-2 {
  color: #f47691; }

.bg-pink-2 {
  background-color: #f47691; }

.color-pink-3 {
  color: #fabdca; }

.bg-pink-3 {
  background-color: #fabdca; }

.color-blue-1 {
  color: #002E93; }

.bg-blue-1 {
  background-color: #002E93; }

.color-blue-2 {
  color: #004ef9; }

.bg-blue-2 {
  background-color: #004ef9; }

.color-blue-3 {
  color: #4780ff; }

.bg-blue-3 {
  background-color: #4780ff; }

.color-gray-1 {
  color: #000000; }

.bg-gray-1 {
  background-color: #000000; }

.color-gray-2 {
  color: #222222; }

.bg-gray-2 {
  background-color: #222222; }

.color-gray-3 {
  color: #444444; }

.bg-gray-3 {
  background-color: #444444; }

.color-gray-4 {
  color: #666666; }

.bg-gray-4 {
  background-color: #666666; }

.color-gray-5 {
  color: #888888; }

.bg-gray-5 {
  background-color: #888888; }

.color-gray-6 {
  color: #A4A4A4; }

.bg-gray-6 {
  background-color: #A4A4A4; }

.color-gray-7 {
  color: #DCDCDC; }

.bg-gray-7 {
  background-color: #DCDCDC; }

.color-gray-8 {
  color: #E9E9E9; }

.bg-gray-8 {
  background-color: #E9E9E9; }

.color-gray-9 {
  color: #F3F3F3; }

.bg-gray-9 {
  background-color: #F3F3F3; }

.color-alert-1 {
  color: #2BB24C; }

.bg-alert-1 {
  background-color: #2BB24C; }

.color-alert-2 {
  color: #FDD13A; }

.bg-alert-2 {
  background-color: #FDD13A; }

.color-alert-3 {
  color: #EA6E1B; }

.bg-alert-3 {
  background-color: #EA6E1B; }

.color-alert-4 {
  color: #A50000; }

.bg-alert-4 {
  background-color: #A50000; }

xmp, code {
  color: red; }

div.container {
  width: 1200px;
  margin: 0 auto;
  display: flex; }
  div.container aside.sidebar {
    background-color: #F0F0F0;
    padding: 20px;
    min-width: 200px;
    top: 0;
    bottom: 0;
    left: 0;
    position: fixed;
    overflow-y: scroll;
    overflow-x: hidden;
    align-self: flex-start; }
    div.container aside.sidebar ul li {
      padding: 20px; }
      div.container aside.sidebar ul li:nth-child(odd) {
        background-color: white; }
  div.container .sidebar, div.container .content {
    margin: 0 5px; }
  div.container .content {
    padding: 20px 20px 80px 20px;
    width: 100%;
    margin-left: 200px;
    text-align: center; }
    div.container .content table {
      min-width: 600px;
      margin: 0 auto; }
  div.container #icons ul {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap; }
    div.container #icons ul li {
      display: flex;
      width: 33%;
      justify-content: center;
      flex-wrap: wrap;
      padding: 30px;
      margin-bottom: 10px; }
      div.container #icons ul li i.bfi, div.container #icons ul li i.caret-gray, div.container #icons ul li i.caret-pink {
        width: 40px;
        height: 37px; }
      div.container #icons ul li code {
        margin-top: 20px;
        width: 100%;
        font-size: 10px;
        cursor: pointer; }
      div.container #icons ul li:hover {
        background-color: #EC1846;
        transition: ease-in-out 0.2s; }
        div.container #icons ul li:hover code {
          color: #FFF; }
  div.container #navigation header h2 {
    font-size: 17px; }
