// Theme

a {
  text-decoration: none;
  &:hover {
    color: color('pink-1');
  }
}

@each $color, $code in $colors {
  // Colors
  .color-#{$color} {
    color: $code;
  }

  // Backgrounds
  .bg-#{$color} {
    background-color: $code;
  }

  // Backgrounds circle
  .bg-circle--#{$color} {
    padding: 0.25rem 0.4687rem;
    border-radius: 1rem;
    background-color: $code;
  }
}
